.logo {
    position: relative;
    height: 3rem;
    width: 15rem;
}

.navbar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.menu {
    list-style: none;
}

main {
    text-align: center;
}

.bannière {
    width: 61rem;
    margin-top: 6rem;
    padding-left: 25%;
}

.cadre {
    color: white;
    padding: 1rem 2rem;
    margin-top: 3rem;
    background: yellowgreen;
    display: inline-block;
}